/* -------   styling for desktops (viewport width 768px and up) ------- */




/* animation of #tagline */
@-webkit-keyframes tagline {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes tagline {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}




body{
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #eee;
}




#wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative; /*allows #header_nav set position: fixed; */
  background-color: #fff;
}




#header_nav{ /* #header_nav combines header and nav to spread single bkgnd image over both them */
  background: #fff;
  background-image:url(../images/header-background.jpg);
  background-repeat: no-repeat;
  position: fixed; /* fixes when scrolling, need to add width and top as seeing below */
  z-index: 5; /* sets #header_nav to be higher over other layers (in this case <main> and <footer>) */
  width: 100%;
  max-width: 960px;
  top: 0;
  display:block;
    /*box-shadow: 0px 1px 0px rgba(99,56,36,0.7);*/ /* HIDEME. used to see #header_nav white background on white */
  
}


header{
  height: 100px;
}


/*css for utility navigation */
header #user_section{
  position: absolute;
  right: 5px;
  background-color: rgba(0,0,0,0.5); /* background color is transparent */
  border-radius: 15px;
}


/*css for utility navigation*/
header .user_menu a{
  text-decoration: none;
  color: #e4f1b5;
  text-shadow: 2px 2px 2px #000;
  padding: 5px;
}


/*css for logo coffeeccino in header */
header #logo{
  position: absolute; /* with left and top below, sets fixed position of #logo */
  left: 20px;
  top: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; /* animates when #logo moves under breakpoint which is set at the bottom of this css (@media) */
}


/*css for tagline 'delight in every drop' */
header #tagline a{
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 255px;
  font-size: 40px;
  font-weight: 700;
  color: #8EBC73;
  text-shadow: 2px 2px 4px #000; /* makes tagline easy to read on white bkgrnd color */
  background-color: rgba(0,0,0,0.5); /* background color is transparent */
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #000;
  -webkit-transform: perspective(1px) translateZ(0); /* for @keyframe */
  transform: perspective(1px) translateZ(0);  /* for @keyframe */
} 


/* for @keyframe */
header #tagline:hover, header #tagline:focus, header #tagline:active{
  -webkit-animation-name: tagline;
  animation-name: tagline;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




/*css for main navigation */
nav{
  margin-bottom: 50px; /*extends down white background of #header_nav for menu buttons pseudoshadow and prevents #content text overlay during scrolling */
  height: 50px;
}


nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none; /* removes default bullet points if nav list */
  padding-left: 125px; /*adjusts vertically position of the nav menu */
  -webkit-transition: all 0.1s;
  transition: all 0.1s; /* animates when #logo moves under breakpoint which is set at the botton of this css (@media, 840px) */
}


nav ul li{
  display: inline-block; /* makes list (nav links) to sit in 1 line */
  font-size: 18px;
  font-weight: bold; /* same as font-weight: 700; */
  margin-right: 25px; /* sets space between nav lists (buttons) */
}


nav ul li a{
  position :relative; /* made for "nav ul li a:after" shadow positioning */
  text-decoration: none; /*removes default underline of the nav links (button text) */
  color: #492211;
  display: block; /* allows to set width and heigth for nav buttons */
  width: 110px;
  height: 38px;
  text-align: center; /* aligns text inside nav buttons */
  padding-top: 18px;
  margin-top: 15px;
  background-color: #e4f1b5;
  border-radius: 30px; /* makes corners of nav buttons to be rounded */
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5); /* adds shadow to nav buttons */
}


/*style for active page*/
nav ul#navlist li a.current{
  color: #fff;
  background-color: #8EBC73;
  opacity: 0.8;
}


nav ul li a:hover{
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  background-color: #8EBC73;
  box-shadow: 5px 5px 10px rgba(102,102,102,0.8);
  transform: scale(1.09,1.09); /* when hover, makes a button become bigger */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


/* makes visual sense like pressing physical button when clicked */
nav ul li a:active{
  transform: scale(0.95,0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.3s;
}


/* makes pseudoshadows below the menu buttons */
nav ul li a:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 12%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.4;
  bottom: -20px;
}




/*css for main content*/
main{
  display: block; /*prevents <main> tag considered as inline by IE browser */
  margin-bottom: 100px;
}


#content{
  color: #5F3600;
  min-height: 300px; /* makes #content have minimum 300px of height, even if there is no text */
  padding-top: 1px; /*removes space between #headernav and #content */
  padding-bottom: 1px; /*removes space between #footer and #content */
  margin-top: 200px; /* when #header_nav is fixed, need to to set margin-top for #content to see full content */
  padding-left: 15px; /* padding-left(right, top, bottom) are used instead of shorthand padding: for easier editing */
  padding-right: 15px;
}


#content .search {
  text-align: left;
}


#searchbox {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 180px;
}


#search_button {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  background-color: #a95f0e;
  font-size: 16px;
  width: 100px;
  margin-left: 20px;
}


#search_button:hover {
  opacity: 0.8;
  cursor: pointer;
}


.search #results {
  position: absolute;
  background-color: #eee;
  min-width: 190px;
}


.search #results a {
  text-decoration: none; /*remove underline links*/
  color: #000; /*set link default color (which is blue) to black (#000)*/
  display: block; /*link (clickable) area takes the full width of the div#results*/
}


.search #results a:hover { /*when mouse over the live search links*/
  background-color: #ccc;
}


.search #under_search_line {
  height: 1px;
  border-bottom: 1px dotted #000;
}




/* ----- START css for index.php ----- */
#content p.row{
  float:left;
  width: 50%;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  height: 280px;
}


#content p.row img{
  width: 100%;
}


#content div.all_row{
  clear: both;
  margin-top: 30px;
  height: 1px;
  box-shadow: 0px 0px 2px #444;
  width: 98%;
  margin: 0 auto;
}


#content #bottom_paragraph{
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
/* ----- END css for index.php ----- */




/* ----- START css for shop_coffee.php ----- */
.categories { /*categories of coffee(bag, canister, k-cup) menu*/
  float: left;
  width: 20%;
}


.categories ul {
  list-style-type: none;
  padding: 0; /*remove default padding and margin from the list*/
  margin: 0;
}


.categories ul li a {
  text-decoration: none;
  color: #a95f0e;
  font-size: 18px;
}


.categories ul li a:hover {
  font-weight: 700;
}


.products_list { /*list of products with image and short description*/
  float: left;
  width: 70%;
  /*border: 1px solid #000;*/ /*to see the position and size of the div.product_list*/
  text-align: center;
}


#nothing_found { /*text for no search results*/
  color: #C01C1C;
}


.product_list .details {
  margin-bottom: 50px;
}


.title { /*title name of coffee in list of products*/
  margin: 0 auto;
  width: 60%;
  background-color: #AF7B37;
  border-radius: 5px;
  height: 40px;
  padding-top: 10px;
  font-size: 24px;
}


.title a {
  text-decoration: none;
  color: #5F3600;
}


.line {
  width: 98%;
  height: 2px;
  border: 1px solid #000;
  border-radius: 2px;
}


#bottom {/* cancel float*/
  clear: both;
}
/* ----- END css for shop_coffee.php and shop_tea.php ----- */




/* ----- START css for detail.php ----- */
.product_detail {
  text-align: center;
}


#description {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px dotted #000;
  margin-bottom: 30px;
}


#ul_details {
  max-width: 300px;
  margin: 0 auto;
  }


#ul_details li {
  margin-bottom: 10px;
  }


#add_to_cart_form {
  width: 130px;
  margin: 0 auto;
  }


#quantity_field{
  width: 91px;
  font-size: 20px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 8px;
}


#add_to_cart {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  background-color: #C01C1C;
  font-size: 16px;
}


#add_to_cart:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* ----- END css for detail.php ----- */




/* ----- START css for cart.php ----- */
.checkout { /*checkout button*/
  margin-top: 30px;
}


.checkout a{
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}


.checkout a:hover {
  opacity: 0.8;
}
/* ----- END css for cart.php ----- */




/* ----- START css for checkout.php ----- */
.sum {
  color: #AF7B37;
}
#pay_button a {
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}

#pay_button a:hover {
  opacity: 0.8;
}

/* ----- END css for checkout.php ----- */




/* ----- START css for registrarion.php + login.php + payment.php, profile_edit.php----- */
form#registration_info fieldset,
form#profile_edit_form fieldset,
form#payment_form fieldset,
form#login fieldset{
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #444;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}


form#registration_info legend,
form#profile_edit_form legend,
form#payment_form legend,
form#login legend{
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}


form#registration_info input[type="text"],
form#profile_edit_form input[type="text"],
form#payment_form input[type="text"],
form#registration_info input[type="email"],
form#profile_edit_form input[type="email"],
form#login input[type="email"],
form#registration_info input[type="password"],
form#profile_edit_form input[type="password"],
form#login input[type="password"],
form#registration_info input[type="tel"],
form#profile_edit_form input[type="tel"]{
  width: 250px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 8px;
}


form#registration_info label,
form#profile_edit_form label,
form#payment_form label,
form#login label{
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}


form#registration_info .error,
form#payment_form .error,
form#profile_edit_form .error,
form#login .error{
  color: #f00;
  display: block;
  text-align: left;
}


form#registration_info p#form_submit_buttons,
form#profile_edit_form p#form_submit_buttons,
form#payment_form p#form_submit_buttons,
form#login p#form_submit_buttons{
  text-align: center;
}


/*makes width of buttons identical to each other */
form#registration_info p#form_submit_buttons .button,
form#profile_edit_form p#form_submit_buttons .button,
form#payment_form p#form_submit_buttons .button,
form#login p#form_submit_buttons .button{
  width: 90px;
}


form#registration_info input[type="submit"],
form#profile_edit_form input[type="submit"],
form#login input[type="submit"],
form#payment_form input[type="submit"],
form#registration_info input[type="reset"],
form#login input[type="reset"]{
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}


form#registration_info input[type="submit"]:hover,
form#profile_edit_form input[type="submit"]:hover,
form#login input[type="submit"]:hover,
form#payment_form input[type="submit"]:hover,
form#registration_info input[type="reset"]:hover,
form#login input[type="reset"]:hover{
  opacity: 0.8;
}
/* ----- END css for registrarion.php + login.php, payment.php, profile_edit.php----- */




/* ----- START css for login.php ----- */
#content h2#flash_message_no_success,
#flash_msg {
  background-color: #f00;
  text-align: center;
}
/* ----- END css for login.php ----- */




/* ----- START css for payment.php ----- */
#payment_form h2 {
  text-align: center;
}
/* ----- END css for payment.php ----- */




/* ----- START css for profile.php ----- */
#content h2#flash_message_success {
  background-color: #0f0;
  text-align: center;
}

#user_info {
  text-align: center;
}

/*bullet points are sticked to li text*/ 
#user_info ul {
  list-style-position: inside;
  /* 2 lines below make ul centered, but li aligned left*/
  display: inline-block;
  text-align: left;
}

#edit_user_button {
  margin-top: 30px;
}

#edit_user_button a {
  text-decoration: none;
  color: #fff;
  background: #C01C1C;
  padding: 10px;
  border: 1px solid #C01C1C;
  border-radius: 5px;
}

#edit_user_button a:hover {
  opacity: 0.8;
}
/* ----- END css for profile.php ----- */




/* ----- START css for contact.php ----- */
#contact {
  text-align: center;
}
/* ----- END css for contact.php ----- */




/* ----- START css for invoice.php ----- */
#invoice_table {
  border-collapse: collapse;
  width: 100%;
}

#invoice_table th, td{
  border: 2px solid #000;
  padding: 5px;
}
/* ----- END css for invoice.php ----- */




footer{
  position: relative; /*this is for #logo_bottom absolute positioning */
  /*z-index: 1; /* z-index of the fixed position header is 5. so footer with z-index 1 will be uderthe header when scroll, withot z-index it will be over the header */
  background-color: #EBE0E9;
  font-size: 13px; /* makes all footer text smaller in sizr then rest of the page */
  padding: 0 20px; /* adds left and right paddings 20px */
  margin-top: 150px; /* prevents footer to go over navigation menu when scroll down */
}


footer #logo_bottom{
  position: absolute;
  top: -50px;
  left: 45%;
}


footer .header4{
  font-weight: normal; /* cancels bold weight of h4 */
  font-style: italic;
  font-size: 14px; /* sets size 14px, while the rest text in footer 13px */
  border-bottom: 2px solid;
  margin-top: 60px;
}


footer #footer_main .column{
  float: left; /* makes all .column to be in 1 line horizontally */
  box-sizing: border-box; /* adding paddings and borders will not effect on box size, in this case on width 33.33% */
  width: 33.33%; /* adusts equal width of 1/3 viewport for each column */
  padding: 10px;
  margin-bottom: 25px;
}


/* ----- START all 3 column css ----- */
/* start css footer 1 column */
footer ul#footer_list{
  list-style-type: none; /* remover default bullet points */
  padding: 0;
}


footer ul#footer_list li{
  margin-bottom: 15px; /* adds vertical space between footer links in column 1 */
}


footer ul#footer_list li a{
  text-decoration: none; /* removes default underline */
  color: #000;
}


footer ul#footer_list li a:hover{
  text-decoration: underline;
}
/* end css footer 1 column */


/* start css footer 3 column */
footer #footer_col3 #email_address_subscribe{
  width: 100%; /* makes email input field responsive */
}


/* css for subscribe button */
footer #footer_col3 #send_button_subscribe{
  background-color: #8EBC73;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}
/* end css footer 3 column */
/* ----- END all 3 column css ----- */


footer #copyright{
  clear: both;
  text-align: center;
  padding-top: 35px;
}


footer ul#socials_list{
  list-style-type: none;
  padding: 0;
  text-align: center; /* puts social icons in the center of window */
  margin-bottom: 0; /* removes white background area below the footer */
}


footer ul#socials_list li{
  display: inline-block; /* makes list (nav links) to sit in 1 line */
  margin-right: 5px; /* sets space between footer lists (social icons) */
  padding-bottom: 20px;
}




/* css for index.php width 850px (break point) and less */
@media screen and (max-width: 850px){
  #content p.row{
    font-size: 30px;
    font-weight: 700;
    height: 240px;
  }
  
    #content #bottom_paragraph{
    font-size: 40px;
  }
}




/* css for width 840px (break point) and less */
@media screen and (max-width: 840px){
  header #logo{
    left: 35px;
  }

  header #tagline{
    left: 225px;
  }

  nav ul{
    padding-left: 35px;
  }
}






