/* -------   styling for desktops (viewport width 768px and up) ------- */




/* animation of #tagline */
@-webkit-keyframes tagline {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes tagline {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}




body{
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #eee;
}




#wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative; /*allows #header_nav set position: fixed; */
  background-color: #fff;
}




#header_nav{ /* #header_nav combines header and nav to spread single bkgnd image over both them */
  background: #fff;
  background-image:url(../../../images/header-background.jpg);
  background-repeat: no-repeat;
  position: fixed; /* fixes when scrolling, need to add width and top as seeing below */
  z-index: 5; /* sets #header_nav to be higher over other layers (in this case <main> and <footer>) */
  width: 100%;
  max-width: 960px;
  top: 0;
  display:block;
    /*box-shadow: 0px 1px 0px rgba(99,56,36,0.7);*/ /* HIDEME. used to see #header_nav white background on white */
  
}


header{
  height: 100px;
}


/*css for utility navigation */
header #user_section{
  position: absolute;
  right: 5px;
  background-color: rgba(0,0,0,0.5); /* background color is transparent */
  border-radius: 15px;
}


/*css for utility navigation*/
header .user_menu a{
  text-decoration: none;
  color: #e4f1b5;
  text-shadow: 2px 2px 2px #000;
  padding: 5px;
}


/*css for logo coffeeccino in header */
header #logo{
  position: absolute; /* with left and top below, sets fixed position of #logo */
  left: 20px;
  top: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; /* animates when #logo moves under breakpoint which is set at the bottom of this css (@media) */
}


/*css for tagline 'delight in every drop' */
header #tagline a{
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 255px;
  font-size: 40px;
  font-weight: 700;
  color: #8EBC73;
  text-shadow: 2px 2px 4px #000; /* makes tagline easy to read on white bkgrnd color */
  background-color: rgba(0,0,0,0.5); /* background color is transparent */
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #000;
  -webkit-transform: perspective(1px) translateZ(0); /* for @keyframe */
  transform: perspective(1px) translateZ(0);  /* for @keyframe */
} 


/* for @keyframe */
header #tagline:hover, header #tagline:focus, header #tagline:active{
  -webkit-animation-name: tagline;
  animation-name: tagline;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




/*css for main navigation */
nav{
  margin-bottom: 50px; /*extends down white background of #header_nav for menu buttons pseudoshadow and prevents #content text overlay during scrolling */
  height: 50px;
}


nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none; /* removes default bullet points if nav list */
  padding-left: 125px; /*adjusts vertically position of the nav menu */
  -webkit-transition: all 0.1s;
  transition: all 0.1s; /* animates when #logo moves under breakpoint which is set at the botton of this css (@media, 840px) */
}


nav ul li{
  display: inline-block; /* makes list (nav links) to sit in 1 line */
  font-size: 18px;
  font-weight: bold; /* same as font-weight: 700; */
  margin-right: 25px; /* sets space between nav lists (buttons) */
}


nav ul li a{
  position :relative; /* made for "nav ul li a:after" shadow positioning */
  text-decoration: none; /*removes default underline of the nav links (button text) */
  color: #492211;
  display: block; /* allows to set width and heigth for nav buttons */
  width: 110px;
  height: 38px;
  text-align: center; /* aligns text inside nav buttons */
  padding-top: 18px;
  margin-top: 15px;
  background-color: #e4f1b5;
  border-radius: 30px; /* makes corners of nav buttons to be rounded */
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5); /* adds shadow to nav buttons */
}


/*style for active page*/
nav ul#navlist li a.current{
  color: #fff;
  background-color: #8EBC73;
  opacity: 0.8;
}


nav ul li a:hover{
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  background-color: #8EBC73;
  box-shadow: 5px 5px 10px rgba(102,102,102,0.8);
  transform: scale(1.09,1.09); /* when hover, makes a button become bigger */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


/* makes visual sense like pressing physical button when clicked */
nav ul li a:active{
  transform: scale(0.95,0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.3s;
}


/* makes pseudoshadows below the menu buttons */
nav ul li a:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 12%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.4;
  bottom: -20px;
}




/*css for main content*/
main{
  display: block; /*prevents <main> tag considered as inline by IE browser */
  margin-bottom: 100px;
}


#content{
  color: #5F3600;
  min-height: 300px; /* makes #content have minimum 300px of height, even if there is no text */
  padding-top: 1px; /*removes space between #headernav and #content */
  padding-bottom: 1px; /*removes space between #footer and #content */
  margin-top: 200px; /* when #header_nav is fixed, need to to set margin-top for #content to see full content */
  padding-left: 15px; /* padding-left(right, top, bottom) are used instead of shorthand padding: for easier editing */
  padding-right: 15px;
}


#content .search {
  text-align: left;
}


#searchbox {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 180px;
}


#search_button {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  background-color: #a95f0e;
  font-size: 16px;
  width: 100px;
  margin-left: 20px;
}


#search_button:hover {
  opacity: 0.8;
  cursor: pointer;
}


.search #results {
  position: absolute;
  background-color: #eee;
  min-width: 190px;
}


.search #results a {
  text-decoration: none; /*remove underline links*/
  color: #000; /*set link default color (which is blue) to black (#000)*/
  display: block; /*link (clickable) area takes the full width of the div#results*/
}


.search #results a:hover { /*when mouse over the live search links*/
  background-color: #ccc;
}


.search #under_search_line {
  height: 1px;
  border-bottom: 1px dotted #000;
}

#admin_msg {
  color: #fff;
  background: #f00;
  text-align: center;
  font-size: 40px;
}

#title_h1 {
  text-align: center;
}


/* ----- START css for index.php ----- */
.number {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
/* ----- END css for index.php ----- */




/* ----- START css for product.php ----- */
.categories {
  margin-bottom: 50px;
}


.categories ul {
  list-style-type: none;
  padding: 0; /*remove default padding and margin from the list*/
  margin: 0;
}


.categories ul li a {
  text-decoration: none;
  color: #a95f0e;
  font-size: 18px;
}


.categories ul li a:hover {
  font-weight: 700;
}


#all_products {
  width: 100%;
}


#all_products th, td {
  text-align: center;
  border-bottom: 1px solid #000;
}


#all_products td a {
  text-decoration: none;
  color: #00f;
}


#all_products td a:hover {
  color: #000;
}


#all_products td img:hover {
  transform: scale(5.0,5.0); /* when hover, makes a button become bigger */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}


#ul_details {
  margin-bottom: 50px;
}


#product_detail_options a {
  text-decoration: none;
  color: #00f;
}


#product_detail_options a:hover {
  font-weight: 700;

}


/*flash message for success new product creation */
h2#flash_msg {
  background-color: #0f0;
  text-align: center;
}


#nothing_found { /*text for no search results*/
  color: #C01C1C;
}

.product_detail {
  text-align: center;
}

#ul_details li {
  margin-bottom: 10px;
  }
/* ----- END css for product.php ----- */










/* ----- START css for product_create.php, product_edit.php, login.php----- */
form#product_add_form fieldset,
form#product_edit fieldset, 
form#login fieldset {
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #444;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}


form#product_add_form legend,
form#product_edit legend,
form#login legend {
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}


form#product_add_form input[type="text"],
form#product_edit input[type="text"],
form#login input[type="email"],
form#login input[type="password"] {
  width: 250px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 8px;
}


form#product_add_form textarea,
form#product_edit textarea {
  width: 260px;
  height: 150px;
}


form#product_add_form label,
form#product_edit label,
form#login label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}


form#product_add_form .error,
form#product_edit .error,
form#login .error{
  color: #f00;
  display: block;
  text-align: center;
}


form#product_add_form p#form_submit_buttons,
form#product_edit p#form_submit_buttons,
form#login p#form_submit_buttons {
  text-align: center;
}


/*makes width of buttons identical to each other */
form#product_add_form p#form_submit_buttons .button,
form#product_edit p#form_submit_buttons .button,
form#login p#form_submit_buttons .button {
  width: 90px;
}


form#product_add_form input[type="submit"],
form#product_edit input[type="submit"],
form#login input[type="submit"] {
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}


form#product_add_form input[type="submit"]:hover,
form#product_edit input[type="submit"]:hover,
form#login input[type="submit"]:hover {
  opacity: 0.8;
}
/* ----- END css for product_create.php, product_edit.php, login.php----- */




/* ----- START css for login.php ----- */
#must_login {
  background: #ccc;
  font-size: 40px;
  text-align: center;
}


#content h2#flash_message_no_success {
  background-color: #f00;
  text-align: center;
}
/* ----- END css for login.php ----- */



/* ----- START css for profile.php ----- */
#content h2#flash_message_success {
  background-color: #0f0;
  text-align: center;
}
/* ----- END css for profile.php ----- */



footer{
  background-color: #EBE0E9;
  margin-top: 150px; /* prevents footer to go over navigation menu when scroll down */
  min-height: 100px;
  text-align: center;
}




/* css for width 840px (break point) and less */
@media screen and (max-width: 840px){
  header #logo{
    left: 35px;
  }

  header #tagline{
    left: 225px;
  }

  nav ul{
    padding-left: 35px;
  }
}






