/* -------   styling for mobiles (viewport width 767px and less) ------- */




body{
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  margin: 0;
}




#wrapper{
  width: 100%;
  position: relative; /*allows #header_nav set position: fixed; */
}




#header_nav{ /* #header_nav combines header and nav to spread single bkgnd image over both them */
  background: #fff;
  background-image:url(../../../images/header-background.jpg);
  background-repeat: no-repeat;
  position: fixed; /* fixes when scrolling, need to add width and top as seeing below */
  z-index: 5; /* sets #header_nav to be higher over other layers (in this case for <footer> with z-index:1, it doesnt overlay when scrolled) */
  width: 100%;
  top: 0;
  /*display:block;*/
  box-shadow: 0px 3px 6px rgba(99,56,36,0.7);
}


header{
  height: 110px;
}



header #user_section{
  position: absolute;
  right: 60px;
  background-color: rgba(0,0,0,0.5); /* background color is transparent */
  border-radius: 15px;
}



header .user_menu a{
  text-decoration: none;
  color: #e4f1b5;
  text-shadow: 2px 2px 2px #000;
  padding: 5px;
}


header #logo{
  position: absolute; /* with left and top below, sets fixed position of #logo */
  left: 20px;
  top: 5px;
}


header #tagline a{
  text-decoration: none; /*removes underline as a link */
  position: absolute;
  top: 45px;
  left: 130px;
  font-size: 30px;
  font-weight: 700; /* same as bold */
  color: #8EBC73;
  text-shadow: 2px 2px 4px #000; /* makes tagline easy to read on bright bkgrnd image */
  background-color: rgba(0,0,0,0.5); /* background dark color is transparent 50% */
  border-radius: 15px; /*rounds the corners of #tagline box */
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #000;
} 




/* ----- START css that is diffrent from desktop.css for hamburger menu ----- */
nav{
  position: fixed;
  top: 5px;
  right: 5px;
  /*z-index: 10000;*/
    /*border: 3px dotted #f00;*/ /* HIDEME. used for positioning of nav box */
}


nav #menu{
position: absolute; /* places nav menu (not hamburger button) related to position of nav box, to see nav box, enable borders in nav css (see it in nav rule) */
top: 0;
right: 0px;
/*z-index: 5000;*/
height: 47px; /* width and height is set slightly more than hamburger menu button demensions, which is inside of this box */
width: 50px;
  /*border: 2px solid #fff;*/ /* HIDEME. used for positioning nav box */ 
}


nav ul{
    /*border: 2px dotted #00f;*/ /* HIDEME. used for positioning nav ul box */
  background-color: rgba(102,102,102,0.5);
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 8px;
  padding-bottom: 15px;
  width: 150px; /* sets field behind the menu buttons, so when cursor is within this field, menu doesnt disappear, even if cursor is between the buttons, to see this field enable borders, by default (auto) this field width equals button width */
  position: absolute; /* positioning menu field with menu (navigation) buttons realtively to nav position, to be below the hamburger button, ohterwise it will appear over the hamburger button */
  top: 44px; /* position of the nav ul box must overlay nav #menu box, otherwise when cursor moves down between #menu box and buttons it will get to empty area, and #menu will disappear */
  left: 50px; /* sets the list out of viewport  for animation when :hover, otherwise set it right: 0; see below */
    /*right: 0;*/ /*HIDEME. set it if no animation needed when :hover */
  list-style-type: none; /* removes default bullet points if nav list */
  opacity: 0; /*hides menu, it will appear when :hover is set, see below */
  pointer-events: none; /*prevents appearing of menu buttons when cursor over the hidden buttons field */
}


nav:hover ul{
  opacity: 1; /* enables the hidden menu field with buttons to be visible */
  pointer-events: auto; /* prevents disapearing menu when cursor on the way from hamburger button to menu links */
  left: -85px; /* slides from right side of veiwport, initial position is set in nav ul rule above */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* ----- END css that is diffrent from desktop.css for hamburger menu ----- */


nav ul li{
  font-size: 18px;
  font-weight: bold; /* same as font-weight: 700; */
}


nav ul li a{
  text-decoration: none; /*removes default underline of the nav links (button text) */
  color: #492211;
  display: block; /* allows to set width and heigth for nav buttons */
  width: 120px;
  height: 28px;
  padding-top: 3px;
  padding-left: 5px;
  margin-top: 15px;
  background-color: #e4f1b5;
  border-radius: 30px; /* makes corners of nav buttons to be rounded */
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5); /* adds shadow to nav buttons, with opacity 50% */
}


/*style for active page*/
nav ul#navlist li a.current{
  color: #fff;
  background-color: #8EBC73;
  opacity: 0.8;
}


nav ul li a:hover{
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  background-color: #8EBC73;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transform: scale(1.09,1.09); /* when hover, makes a button bigger */
  -webkit-transition: all 0.3s; /* animates a button when it becomes bigger */
  transition: all 0.3s;
}


/* makes visual sense like pressing physical button when clicked */
nav ul li a:active{
  transform: scale(0.95,0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}


/* hamburger menu button */
nav a#menulink{
  display: block; /* now can set width and height of the hamburger button */
  position: absolute; /* sets position relatively to its parent nav #menu */
  top: 0;
  right: 0;
  width: 30px;
  height: 23px;
  border: 3px solid #8EBC73;
  border-radius: 5px;
  padding: 6px;
  padding-top: 9px;
  background-color: #e4f1b5;
}

/* hamburger menu lines */
nav a#menulink #hamburger_top,
nav a#menulink #hamburger_middle,
nav a#menulink #hamburger_bottom{
  display: block;
  width: 100%;
  background-color: #8EBC73;
  height: 3px;
  margin-bottom: 5px;
}




/* ----- START hamburger menu animation ----- */
nav a#menulink:hover{
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav #menu:hover #menulink span{
  background-color: #f00;
}

nav #menu:hover a#menulink #hamburger_top{
  transform: translateY(9px) rotate(45deg);
}

nav #menu:hover a#menulink #hamburger_middle{
  opacity: 0;
}

nav #menu:hover a#menulink #hamburger_bottom{
  transform: translateY(-7px) rotate(-45deg);
}

nav #menu:hover a#menulink #hamburger_top,
nav #menu:hover a#menulink #hamburger_bottom{
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* ----- END hamburger menu animation ----- */




main{
  display: block; /*prevents <main> tag considered as inline by IE browser */
}


#content{
  color: #5F3600;
  min-height: 500px; /* makes #content have minimum 500px of height, even if there is no text */
  padding-top: 1px; /*removes space between #headernav and #content */
  padding-bottom: 1px; /*removes space between #footer and #content */
  margin-top: 115px; /* when #header_nav is fixed, need to to set margin-top for #content to see full content */
  padding-left: 15px; /* padding-left(right, top, bottom) are used instead of shorthand padding: for easier editing */
  padding-right: 15px;
}


#content .search {
  text-align: left;
}


#searchbox {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 180px;
}


#search_button {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  background-color: #a95f0e;
  font-size: 16px;
  width: 100px;
  margin-left: 20px;
}


#search_button:hover {
  opacity: 0.8;
  cursor: pointer;
}


.search #results {
  position: absolute;
  background-color: #eee;
  min-width: 190px;
}


.search #results a {
  text-decoration: none; /*remove underline links*/
  color: #000; /*set link default color (which is blue) to black (#000)*/
  display: block; /*link (clickable) area takes the full width of the div#results*/
}


.search #results a:hover { /*when mouse over the live search links*/
  background-color: #ccc;
}


.search #under_search_line {
  height: 1px;
  border-bottom: 1px dotted #000;
}


#admin_msg {
  color: #fff;
  background: #f00;
  text-align: center;
  font-size: 40px;
}

#title_h1 {
  text-align: center;
}


/* ----- START css for index.php ----- */
.number {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
/* ----- END css for index.php ----- */




/* ----- START css for product.php ----- */
.categories {
  margin-bottom: 50px;
}


.categories ul {
  list-style-type: none;
  padding: 0; /*remove default padding and margin from the list*/
  margin: 0;
}


.categories ul li a {
  text-decoration: none;
  color: #a95f0e;
  font-size: 18px;
}

.categories ul li a:hover {
  font-weight: 700;
}

#all_products {
  width: 100%;
}


#all_products th, td {
  text-align: center;
  border-bottom: 1px solid #000;
}


#all_products td a {
  text-decoration: none;
  color: #00f;
}


#all_products td a:hover {
  color: #000;
}


#all_products td img:hover {
  transform: scale(5.0,5.0); /* when hover, makes a button become bigger */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}


#ul_details {
  margin-bottom: 50px;
}


#product_detail_options a {
  text-decoration: none;
  color: #00f;
}


#product_detail_options a:hover {
  font-weight: 700;

}


/*flash message for success new product creation */
h2#flash_msg {
  background-color: #0f0;
  text-align: center;
}


#nothing_found { /*text for no search results*/
  color: #C01C1C;
}

.product_detail {
  text-align: center;
}

#ul_details li {
  margin-bottom: 10px;
  }

/* ----- END css for product.php ----- */



/* ----- START css for registrarion.php + login.php + payment.php----- */
form#product_add_form fieldset,
form#product_edit fieldset,
form#login fieldset{
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #444;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}


form#product_add_form legend,
form#product_edit legend,
form#login legend{
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}


form#product_add_form input[type="text"],
form#product_edit input[type="text"],
form#login input[type="email"],
form#login input[type="password"]{
  width: 200px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 8px;
}


form#product_add_form textarea,
form#product_edit textarea {
  width: 210px;
  height: 150px;
}


form#product_add_form label,
form#product_edit label,
form#login label{
  display: inline-block;
  width: 130px;
  text-align: right;
  margin-right: 10px;
}


form#product_add_form .error,
form#product_edit .error,
form#login .error{
  color: #f00;
  display: block;
  text-align: left;
}


form#product_add_form p#form_submit_buttons,
form#product_edit p#form_submit_buttons,
form#login p#form_submit_buttons{
  text-align: center;
}


/*makes width of buttons identical to each other */
form#product_add_form p#form_submit_buttons .button,
form#product_edit p#form_submit_buttons .button,
form#login p#form_submit_buttons .button{
  width: 90px;
}


form#product_add_form input[type="submit"],
form#login input[type="submit"],
form#product_edit input[type="submit"] {
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}


form#product_add_form input[type="submit"]:hover,
form#login input[type="submit"]:hover,
form#product_edit input[type="submit"]:hover {
  opacity: 0.8;
}
/* ----- END css for registrarion.php ----- */




/* ----- START css for login.php ----- */
#must_login {
  background: #ccc;
  font-size: 40px;
  text-align: center;
}


#content h2#flash_message_no_success {
  background-color: #f00;
  text-align: center;
}
/* ----- END css for login.php ----- */




/* ----- START css for profile.php ----- */
#content h2#flash_message_success {
  background-color: #0f0;
  text-align: center;
}
/* ----- END css for profile.php ----- */




footer{
  position: relative; /*this is for #logo_bottom absolute positioning */
  z-index: 1; /* z-index of the fixed position header is 5. so footer with z-index 1 will be uderthe header when scroll, withot z-index it will be over the header */
  background-color: #EBE0E9;
  font-size: 13px; /* makes all footer text smaller in sizr then rest of the page */
  padding: 0 20px; /* adds left and right paddings 20px */
  margin-top: 50px;
}



/* css for index.html width 720px (break point) and less */
@media screen and (max-width: 720px){
  .categories {
    float: none;
    width: 100%;
  }
  
  .products_list {
  float: none;
  width: 100%;
  }
}



/* css for index.html width 650px (break point) and less */
@media screen and (max-width: 650px){
  #content{
    margin-top: 90px;
  }
}



/* css for width 635px (break point) and less */
@media screen and (max-width: 635px){
  header{
    height: 86px;
  }
  
  
  header #tagline a{
    top: 34px;
    left: 110px;
    font-size: 20px;
  }
  
  
  header #logo img{
    width: 78px;
    height: 75px;
  }
}



/* css for index.html width 580px (break point) and less */
@media screen and (max-width: 580px){
  #content p.row{
    font-size: 25px;
    height: 150px;
  }
  
  #content #bottom_paragraph{
    font-size: 25px;
  }
  
  .title {
  font-size: 16px;
  padding-top: 15px;
  }
}




/* css for width 500px (break point) and less */
@media screen and (max-width: 500px){
  table#shop_table{
    border-spacing: 10px 0px;
  }
  
  
  table#shop_table th.table_subname{
    font-size: 20px;
  }
}




/* css for width 460px (break point) and less */
@media screen and (max-width: 510px){
  header #tagline a{
    display: none;
  }
}




/* css for width 430px (break point) and less */
@media screen and (max-width: 430px){
  form#product_add_form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 30px;
  }


form#product_add_form input[type="text"],
form#product_add_form textarea {
  width: 90%;
  }
}


